#imgs_proyecto{
    display: block;
    margin: auto;
   
    width: 70%;
    height: 70%;

   
    border-radius: 10px;
}
#icon{
    width: 30px;
    height: 30px;
}
a{
    margin: 5px;
}
#caja{
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
}
#perfil{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}